@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-in {
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    .fade-in {
        animation-name: fadeIn;
    }

    .slide-in-from-bottom-4 {
        animation-name: slideInBottom;
    }

    .zoom-in-95 {
        animation-name: zoomIn;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideInBottom {
        from {
            transform: translateY(1rem);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(0.95);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}